@page

@model OAuth.Pages.AuthenticateModel

@*Please do not forget to add tag helper*@

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{

}

Authenticate

<div>Return url: @Model.ReturnUrl</div>

<form method="post">
    <label>Email</label><br/>
    <input name="email" /><br />
    <label>Password</label><br />
    <input type ="password" name="password" /><br />
    <input type="submit" /><br />
</form>

<a asp-page="SignUp">Sign up</a>

<div><label style="color:@Model.StatusColor">@Model.AuthStatus</label></div>