@page
@model OAuth.Pages.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

Sign up

<form method="post">
    <label>Email</label><br/>
    <input name="email" /><br />
    <label>Password</label><br/>
    <input type= "password" name="password"/><br/>
    <label>Confirm password</label><br/>
    <input type = "password" name="confirmPassword"/><br/>
    <input type="submit"/><br/>
</form>

<div><label style="color:@Model.StatusColor">@Model.Status</label></div>

